<{include file="public/header"}>
<article>
    <div class="width1200 middle-left-right">
        <form class="login-register-box" id="vdouw-form">
            <div class="p mb-10">
                <div class="left"></div>
                <div class="right"><h3 class="font18">登录</h3></div>
            </div>
            <div class="p">
                <div class="left">用户名</div>
                <div class="right"><input type="text" name="username" value="zhangsanfeng"
                                          class="form-control width100"/></div>
            </div>
            <div class="p mt-20">
                <div class="left">密码</div>
                <div class="right"><input type="password" name="password" value="123456" class="form-control width100"/>
                </div>
            </div>
            <div class="p mt-20">
                <div class="left">验证码</div>
                <div class="right">
                    <input type="text" name="verifycode" placeholder="未正式上线，可不填" class="form-control width60 pull-left"/>
                    <img class="code" src="/index.php/home/register/verify" onClick="this.src=this.src+'?'+Math.random()" />
                </div>
            </div>
            <div class="p mt-20">
                <div class="left"></div>
                <div class="right">
                    <input type="button" id="login" class="btn btn-primary width100" value="登录"/>
                </div>
            </div>
            <div class="p mt-20">
                <div class="left"></div>
                <div class="right">
                    <div class="pull-left">
                        <span>还没有账号？</span>
                        <a href="/index.php/home/register/index" class="ml-10">去注册</a>
                    </div>
                    <div class="pull-right">
                        <a href="#">忘记密码</a>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </form>
    </div>
    <div class="clearfix"></div>
</article>
<{include file="public/footer"}>

<script>
    if (vdouwTool.getCookie('recordUrl')) {
        var SCOPE = {
            "save_url": "/index.php/home/login/index",
            "jump_url": vdouwTool.getCookie('recordUrl')
        };
    } else {
        var SCOPE = {
            "save_url": "/index.php/home/login/index",
            "jump_url": "/index.php/home/index/index"
        };
    }

    $('#login').click(function () {
        var data = $("#vdouw-form").serializeArray();
        console.log(data);
        var postData = {};
        $(data).each(function () {
            postData[this.name] = this.value;
        });
        console.log(postData);
        $.post(SCOPE.save_url, postData, function (result) {
            if (result.status == 1) {
                console.log(result);
                vdouwTool.setCookie('recordUrl', '');
                return (dialog.success(result.message, SCOPE.jump_url));
            } else if (result.status == 0) {
                return (dialog.error(result.message));
            }
        }, "JSON");
    });

</script>

<{include file="public/footer"}>
