<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>$title</title>
    <link rel="shortcut icon" href="">
    <link rel="stylesheet" href="/static/index/css/base.css"/>
    <link rel="stylesheet" href="/static/index/css/common.css"/>
    <link rel="stylesheet" href="/static/index/css/index.css"/>
    <script type="text/javascript" src="/static/index/js/html5shiv.js"></script>
    <script type="text/javascript" src="/static/index/js/respond.min.js"></script>
    <script type="text/javascript" src="/static/index/js/jquery-1.11.3.min.js"></script>
</head>
<body>
<div class="header-bar">
    <div class="header-inner">
        <ul class="father">
            <li><a>$city.name</a></li>
            <li>|</li>
            <li class="city">
                <a>切换城市<span class="arrow-down-logo"></span></a>
                <div class="city-drop-down">
                    <h3>热门城市</h3>
                    <ul class="son">
                        <li><a href="#">$vo.name</a></li>
                    </ul>

                </div>
            </li>
            <li>欢迎您：$user->username</li>
            <li><a href="#">退出</a></li>
            <li><a href="#">注册</a></li>
            <li>|</li>
            <li><a href="#">登录</a></li>
            <li><a href="#">商户中心</a></li>
        </ul>
    </div>
</div>

<div class="search">
    <a href="/"><img src="/static/index/image/logo.png"/></a>

</div>

<div class="nav-bar-header">
    <div class="nav-inner">
        <ul class="nav-list">
            <li class="nav-item">
                <span class="item">全部分类</span>
                <div class="left-menu">
                    <div class="level-item">
                        <div class="first-level">
                            <dl>
                                <dt class="title"><a href="#" target="_blank">$cat[0]</a></dt>
                                <dd><a href="#" target="_blank" class="">$vo.name</a></dd>
                            </dl>
                        </div>
                        <div class="second-level">
                            <div class="section">
                                <div class="section-item clearfix no-top-border">
                                    <h3>其他分类</h3>
                                    <ul>
                                        <li><a target="_blank" href="#">$vo.name</a></li>
                                        <li><a target="_blank" href="#">$vo.name</a></li>
                                        <li><a target="_blank" href="#">$vo.name</a></li>
                                        <li><a target="_blank" href="#">$vo.name</a></li>
                                        <li><a target="_blank" href="#">$vo.name</a></li>
                                    </ul>
                                </div>

                                <div class="section-item clearfix no-top-border">
                                    <h3>其他分类</h3>
                                    <ul>
                                        <li><a target="_blank" href="#">$vo.name</a></li>
                                        <li><a target="_blank" href="#">$vo.name</a></li>
                                        <li><a target="_blank" href="#">$vo.name</a></li>
                                        <li><a target="_blank" href="#">$vo.name</a></li>
                                        <li><a target="_blank" href="#">$vo.name</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="first-level">
                            <dl>
                                <dt class="title"><a href="#" target="_blank">$cat[1]</a></dt>
                                <dd><a href="#" target="_blank" class="">$vo.name</a></dd>
                            </dl>
                        </div>


                        <div class="first-level">
                            <dl>
                                <dt class="title"><a href="#" target="_blank">$cat[2]</a></dt>
                                <dd><a href="#" target="_blank" class="">$vo.name</a></dd>
                            </dl>
                        </div>

                    </div>
                </div>
            </li>
            <li class="nav-item"><a href="/" class="item first active">首页</a></li>
            <li class="nav-item"><a class="item">团购</a></li>
            <li class="nav-item"><a class="item">商户</a></li>
        </ul>
    </div>
</div>


<div class="container">
    <div class="top-container">
        <div class="mid-area">
            <div class="slide-holder" id="slide-holder">
                <a href="#" class="slide-prev"><i class="slide-arrow-left"></i></a>
                <a href="#" class="slide-next"><i class="slide-arrow-right"></i></a>
                <ul class="slideshow">
                    <li><a href="" class="item-large"><img class="ad-pic" src="/upload/20170219/datu.jpg"/></a></li>
                    <li><a href="" class="item-large"><img class="ad-pic" src="/upload/20170219/datu.jpg"/></a></li>
                </ul>
            </div>
            <div class="list-container">

            </div>
        </div>
    </div>
    <div class="right-sidebar">
        <div class="right-ad">
            <ul class="slidepic">
                <li><a><img src="/upload/20170219/ads.jpg" width="259px"/></a></li>
            </ul>
        </div>

    </div>
    <div class="content-container">
        <div class="no-recom-container">
            <div class="floor-content-start">

                <div class="floor-content">
                    <div class="floor-header">
                        <h3>美食推荐</h3>
                        <ul class="reco-words">
                            <li><a href="#" target="_blank">$vo.name</a></li>

                            <li><a class="no-right-border no-right-padding" target="_blank" href="#">全部<span
                                    class="all-cate-arrow"></span></a></li>
                        </ul>
                    </div>
                    <ul class="itemlist eight-row-height">
                        <li class="j-card">
                            <a>
                                <div class="imgbox">
                                    <ul class="marketing-label-container">
                                        <li class="marketing-label marketing-free-appoint"></li>
                                    </ul>
                                    <div class="range-area">
                                        <div class="range-bg"></div>
                                        <div class="range-inner">

                                        </div>
                                    </div>
                                    <div class="borderbox">
                                        <img src="/static/index/image/logo.png"/>
                                    </div>
                                </div>
                            </a>
                            <div class="contentbox">
                                <a href="#" target="_blank">
                                    <div class="header">
                                        <h4 class="title ">【店通用】</h4>
                                    </div>
                                    <p>$vo.name</p>
                                </a>
                                <div class="add-info"></div>
                                <div class="pinfo">
                                    <span class="price"><span class="moneyico">¥</span>111</span>
                                    <span class="ori-price">价值<span
                                            class="price-line">¥<span>222</span></span></span>
                                </div>
                                <div class="footer">
                                    <span class="sold">已售333</span>
                                    <div class="bottom-border"></div>
                                </div>
                            </div>
                        </li>

                        <li class="j-card">
                            <a>
                                <div class="imgbox">
                                    <ul class="marketing-label-container">
                                        <li class="marketing-label marketing-free-appoint"></li>
                                    </ul>
                                    <div class="range-area">
                                        <div class="range-bg"></div>
                                        <div class="range-inner">

                                        </div>
                                    </div>
                                    <div class="borderbox">
                                        <img src="/static/index/image/logo.png"/>
                                    </div>
                                </div>
                            </a>
                            <div class="contentbox">
                                <a href="#" target="_blank">
                                    <div class="header">
                                        <h4 class="title ">【店通用】</h4>
                                    </div>
                                    <p>$vo.name</p>
                                </a>
                                <div class="add-info"></div>
                                <div class="pinfo">
                                    <span class="price"><span class="moneyico">¥</span>111</span>
                                    <span class="ori-price">价值<span
                                            class="price-line">¥<span>222</span></span></span>
                                </div>
                                <div class="footer">
                                    <span class="sold">已售333</span>
                                    <div class="bottom-border"></div>
                                </div>
                            </div>
                        </li>

                        <li class="j-card">
                            <a>
                                <div class="imgbox">
                                    <ul class="marketing-label-container">
                                        <li class="marketing-label marketing-free-appoint"></li>
                                    </ul>
                                    <div class="range-area">
                                        <div class="range-bg"></div>
                                        <div class="range-inner">

                                        </div>
                                    </div>
                                    <div class="borderbox">
                                        <img src="/static/index/image/logo.png"/>
                                    </div>
                                </div>
                            </a>
                            <div class="contentbox">
                                <a href="#" target="_blank">
                                    <div class="header">
                                        <h4 class="title ">【店通用】</h4>
                                    </div>
                                    <p>$vo.name</p>
                                </a>
                                <div class="add-info"></div>
                                <div class="pinfo">
                                    <span class="price"><span class="moneyico">¥</span>111</span>
                                    <span class="ori-price">价值<span
                                            class="price-line">¥<span>222</span></span></span>
                                </div>
                                <div class="footer">
                                    <span class="sold">已售333</span>
                                    <div class="bottom-border"></div>
                                </div>
                            </div>
                        </li>

                        <li class="j-card">
                            <a>
                                <div class="imgbox">
                                    <ul class="marketing-label-container">
                                        <li class="marketing-label marketing-free-appoint"></li>
                                    </ul>
                                    <div class="range-area">
                                        <div class="range-bg"></div>
                                        <div class="range-inner">

                                        </div>
                                    </div>
                                    <div class="borderbox">
                                        <img src="/static/index/image/logo.png"/>
                                    </div>
                                </div>
                            </a>
                            <div class="contentbox">
                                <a href="#" target="_blank">
                                    <div class="header">
                                        <h4 class="title ">【店通用】</h4>
                                    </div>
                                    <p>$vo.name</p>
                                </a>
                                <div class="add-info"></div>
                                <div class="pinfo">
                                    <span class="price"><span class="moneyico">¥</span>111</span>
                                    <span class="ori-price">价值<span
                                            class="price-line">¥<span>222</span></span></span>
                                </div>
                                <div class="footer">
                                    <span class="sold">已售333</span>
                                    <div class="bottom-border"></div>
                                </div>
                            </div>
                        </li>

                        <li class="j-card">
                            <a>
                                <div class="imgbox">
                                    <ul class="marketing-label-container">
                                        <li class="marketing-label marketing-free-appoint"></li>
                                    </ul>
                                    <div class="range-area">
                                        <div class="range-bg"></div>
                                        <div class="range-inner">

                                        </div>
                                    </div>
                                    <div class="borderbox">
                                        <img src="/static/index/image/logo.png"/>
                                    </div>
                                </div>
                            </a>
                            <div class="contentbox">
                                <a href="#" target="_blank">
                                    <div class="header">
                                        <h4 class="title ">【店通用】</h4>
                                    </div>
                                    <p>$vo.name</p>
                                </a>
                                <div class="add-info"></div>
                                <div class="pinfo">
                                    <span class="price"><span class="moneyico">¥</span>111</span>
                                    <span class="ori-price">价值<span
                                            class="price-line">¥<span>222</span></span></span>
                                </div>
                                <div class="footer">
                                    <span class="sold">已售333</span>
                                    <div class="bottom-border"></div>
                                </div>
                            </div>
                        </li>

                        <li class="j-card">
                            <a>
                                <div class="imgbox">
                                    <ul class="marketing-label-container">
                                        <li class="marketing-label marketing-free-appoint"></li>
                                    </ul>
                                    <div class="range-area">
                                        <div class="range-bg"></div>
                                        <div class="range-inner">

                                        </div>
                                    </div>
                                    <div class="borderbox">
                                        <img src="/static/index/image/logo.png"/>
                                    </div>
                                </div>
                            </a>
                            <div class="contentbox">
                                <a href="#" target="_blank">
                                    <div class="header">
                                        <h4 class="title ">【店通用】</h4>
                                    </div>
                                    <p>$vo.name</p>
                                </a>
                                <div class="add-info"></div>
                                <div class="pinfo">
                                    <span class="price"><span class="moneyico">¥</span>111</span>
                                    <span class="ori-price">价值<span
                                            class="price-line">¥<span>222</span></span></span>
                                </div>
                                <div class="footer">
                                    <span class="sold">已售333</span>
                                    <div class="bottom-border"></div>
                                </div>
                            </div>
                        </li>

                        <li class="j-card">
                            <a>
                                <div class="imgbox">
                                    <ul class="marketing-label-container">
                                        <li class="marketing-label marketing-free-appoint"></li>
                                    </ul>
                                    <div class="range-area">
                                        <div class="range-bg"></div>
                                        <div class="range-inner">

                                        </div>
                                    </div>
                                    <div class="borderbox">
                                        <img src="/static/index/image/logo.png"/>
                                    </div>
                                </div>
                            </a>
                            <div class="contentbox">
                                <a href="#" target="_blank">
                                    <div class="header">
                                        <h4 class="title ">【店通用】</h4>
                                    </div>
                                    <p>$vo.name</p>
                                </a>
                                <div class="add-info"></div>
                                <div class="pinfo">
                                    <span class="price"><span class="moneyico">¥</span>111</span>
                                    <span class="ori-price">价值<span
                                            class="price-line">¥<span>222</span></span></span>
                                </div>
                                <div class="footer">
                                    <span class="sold">已售333</span>
                                    <div class="bottom-border"></div>
                                </div>
                            </div>
                        </li>

                        <li class="j-card">
                            <a>
                                <div class="imgbox">
                                    <ul class="marketing-label-container">
                                        <li class="marketing-label marketing-free-appoint"></li>
                                    </ul>
                                    <div class="range-area">
                                        <div class="range-bg"></div>
                                        <div class="range-inner">

                                        </div>
                                    </div>
                                    <div class="borderbox">
                                        <img src="/static/index/image/logo.png"/>
                                    </div>
                                </div>
                            </a>
                            <div class="contentbox">
                                <a href="#" target="_blank">
                                    <div class="header">
                                        <h4 class="title ">【店通用】</h4>
                                    </div>
                                    <p>$vo.name</p>
                                </a>
                                <div class="add-info"></div>
                                <div class="pinfo">
                                    <span class="price"><span class="moneyico">¥</span>111</span>
                                    <span class="ori-price">价值<span
                                            class="price-line">¥<span>222</span></span></span>
                                </div>
                                <div class="footer">
                                    <span class="sold">已售333</span>
                                    <div class="bottom-border"></div>
                                </div>
                            </div>
                        </li>
                        <!--<span style="color:red;font-size:24px;">该城市下没有此分类数据 </span>-->
                    </ul>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="footer-content">
    <div class="copyright-info">

    </div>
</div>

<script>
    var width = 800 * $("#slide-holder ul li").length;
    $("#slide-holder ul").css({width: width + "px"});

    //轮播图自动轮播
    var time = setInterval(moveleft, 50000000);

    //轮播图左移
    function moveleft() {
        $("#slide-holder ul").animate({marginLeft: "-737px"}, 600, function () {
            $("#slide-holder ul li").eq(0).appendTo($("#slide-holder ul"));
            $("#slide-holder ul").css("marginLeft", "0px");
        });
    }

    //轮播图右移
    function moveright() {
        $("#slide-holder ul").css({marginLeft: "-737px"});
        $("#slide-holder ul li").eq(($("#slide-holder ul li").length) - 1).prependTo($("#slide-holder ul"));
        $("#slide-holder ul").animate({marginLeft: "0px"}, 600);
    }

    //右滑箭头点击事件
    $(".slide-next").click(function () {
        clearInterval(time);
        moveright();
        time = setInterval(moveleft, 5000);
    });

    //左滑箭头点击事件
    $(".slide-prev").click(function () {
        clearInterval(time);
        moveleft();
        time = setInterval(moveleft, 5000);
    });
</script>
</body>
</html>