<{include file="public/header"}>
<article>
    <div class="width1200 middle-left-right pb-100">
        <div class="pull-left width800">
            <div class="article-box mt-20">
                <div class="title">
                    <h2 class="text-align-center"><{$info.title}></h2>
                    <p class="mt-5 text-align-center">
                        <span class="mr-20">作者：<{$info.author}></span>
                        <span class="mr-20">更新时间：<{$info.addtime|date="Y:m:d H:i:s",###}></span>
                        <span class="mr-20">所属分类：<{$info.categoryName.name}></span>
                        <span class="mr-20">浏览量：<{$info.click}></span>
                    </p>
                    <p class="mt-5 text-align-center">
                        <span>所属标签：<{volist name="$info.tag" id="v"}><b class="mr-10 font-normal"><{$v.name}></b><{/volist}></span>
                    </p>
                </div>
                <div class="content">
                    <div class="con"><{$info.content}></div>
                    <div class="">
                        <p><span>上一篇：</span><a href="#">上一篇文章</a></p>
                        <p><span>下一篇：</span><a href="#">下一篇文章</a></p>
                    </div>
                </div>
            </div>
            <div class="article-box">
                <div class="comment-box overflow-hidden border-bottom-1px">
                    <div class="left"><img src="/home/images/listpic.jpg"/></div>
                    <div class="right">
                        <textarea name="comment-content">一级回复输入框</textarea>
                        <input type="button" class="btn btn-primary width150 mt-5" onclick="addFirstComment()"
                               value="提交"/>
                    </div>
                </div>
                <div class="comment-list">
                    <dl>
                        <dt class="overflow-hidden">
                            <span class="pull-left font16 font-bold">最新评论</span>
                            <span class="pull-right">总共<{$commentCount}>条评论</span>
                        </dt>
                        <dd>
                            <ul>
                                <{volist name="$info.comments" id="vc"}>
                                <!--一级评论开始-->
                                <li class="mb-15">
                                    <div class="left"><img src="/home/images/listpic.jpg"/></div>
                                    <div class="right">
                                        <div>
                                            <p><span><{$vc.memberName}></span><span>：</span><span><{$vc.content}></span>
                                            </p>
                                            <p class="mt-3"><span><{$vc.date|date='Y-m-d H:i:s',###}></span><span
                                                    data-current="false"
                                                    data-memberName="<{$vc.memberName}>"
                                                    data-memberId="<{$vc.member_id}>"
                                                    data-newsId="<{$vc.news_id}>"
                                                    data-parentId="<{$vc.parent_id}>"
                                                    data-parentsId="<{$vc.id}>"
                                                    data-commentId="<{$vc.id}>"
                                                    class="color-blue ml-5 c-pointer"
                                                    onclick="checkCurrent(this)">回复</span>
                                            </p>
                                        </div>
                                        <{volist name="$vc.sonComments" id="vson"}>
                                        <!--二级评论开始-->
                                        <div class="son">
                                            <div class="left"><img src="/home/images/listpic.jpg"/></div>
                                            <div class="right">
                                                <p><span><{$vson.memberName}></span><span class="ml-3">回复</span><span
                                                        class="ml-3"><{$vson.parent_name}></span><span>：</span><span><{$vson.content}></span>
                                                </p>
                                                <p class="mt-3"><span><{$vson.date|date='Y-m-d H:i:s',###}></span><span
                                                        data-current="false"
                                                        data-memberName="<{$vson.memberName}>"
                                                        data-memberId="<{$vson.member_id}>"
                                                        data-newsId="<{$vson.news_id}>"
                                                        data-parentId="<{$vson.member_id}>"
                                                        data-parentsId="<{$vc.id}>"
                                                        class="color-blue ml-5 c-pointer"
                                                        onclick="checkCurrent(this)">回复</span></p>
                                            </div>
                                        </div>
                                        <!--二级评论结束-->
                                        <{/volist}>
                                        <div class="comment-box overflow-hidden mt-10 comment-box-hook"
                                             style="display:none;">
                                            <div class="right" style="margin-left:0">
                                                <textarea>二级回复输入框</textarea>
                                                <input type="button" onclick="addSecondComment()"
                                                       class="btn btn-primary width150 mt-5" value="提交"/>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <!--一级评论结束-->
                                <{/volist}>
                            </ul>
                            <ul>
                                <!--&lt;!&ndash;一级评论开始&ndash;&gt;-->
                                <!--<li>-->
                                <!--<div class="left"><img src="/home/images/listpic.jpg"/></div>-->
                                <!--<div class="right">-->
                                <!--<div>-->
                                <!--<p><span>张一丰</span><span>：</span><span>一级回复</span></p>-->
                                <!--<p><span>2017-12-12 12:12:12</span><span class="color-blue ml-5">回复</span>-->
                                <!--</p>-->
                                <!--</div>-->
                                <!--&lt;!&ndash;二级评论开始&ndash;&gt;-->
                                <!--<div class="son">-->
                                <!--<div class="left"><img src="/home/images/listpic.jpg"/></div>-->
                                <!--<div class="right">-->
                                <!--<p><span>张二丰</span><span>：</span><span>二级回复</span></p>-->
                                <!--<p><span>2017-12-12 12:12:12</span><span-->
                                <!--class="color-blue ml-5">回复</span></p>-->
                                <!--</div>-->
                                <!--</div>-->
                                <!--&lt;!&ndash;二级评论结束&ndash;&gt;-->
                                <!--<div class="son">-->
                                <!--<div class="left"><img src="/home/images/listpic.jpg"/></div>-->
                                <!--<div class="right">-->
                                <!--<p><span>张二丰</span><span>：</span><span>二级回复</span></p>-->
                                <!--<p><span>2017-12-12 12:12:12</span><span-->
                                <!--class="color-blue ml-5">回复</span>-->
                                <!--</p>-->
                                <!--</div>-->
                                <!--</div>-->
                                <!--<div class="comment-box overflow-hidden mt-10">-->
                                <!--<div class="right" style="margin-left:0">-->
                                <!--<textarea>二级回复输入框</textarea>-->
                                <!--<input type="button" class="btn btn-primary width150 mt-5" value="提交"/>-->
                                <!--</div>-->
                                <!--</div>-->
                                <!--</div>-->
                                <!--</li>-->
                                <!--&lt;!&ndash;一级评论结束&ndash;&gt;-->
                                <!--<li>-->
                                <!--<div class="left"><img src="/home/images/listpic.jpg"/></div>-->
                                <!--<div class="right">-->
                                <!--<p><span>张一丰</span><span>：</span><span>不行是学院的做派，而不是技术人的品格。一名技术人，本身就是知和行的统一。-->
                                <!--“问题在于改变世界”——从青年黑格尔派初次提出这样的命题，到马克思在《关于费尔巴哈提纲》中正式确立全新的</span></p>-->
                                <!--<p><span>2017-12-12 12:12:12</span><span class="color-blue ml-5">回复</span></p>-->
                                <!--<div class="comment-box overflow-hidden mt-10">-->
                                <!--<div class="right" style="margin-left:0">-->
                                <!--<textarea>二级回复输入框</textarea>-->
                                <!--<input type="button" class="btn btn-primary width150 mt-5" value="提交"/>-->
                                <!--</div>-->
                                <!--</div>-->
                                <!--</div>-->
                                <!--</li>-->
                            </ul>
                        </dd>
                    </dl>
                </div>
            </div>

        </div>
        <div class="pull-right">
            <{include file="public/right"}>
        </div>
        <div class="clearfix"></div>
    </div>
</article>

<script>
    var SCOPE = {
        'save_url': '/index.php/home/index/addComment',
        'jump_url': location.href,
        'click_url': '/index.php/home/index/clickAdd'
    };
    $('.article-ul li').each(function () {
        if ($(this).find('.img').attr('src') == "") {
            $(this).find('.img').attr('src', '/home/images/listpic.jpg');
        }
    });

    //浏览量加1
    $(function () {
        setTimeout(function () {
            var postData = {
                'id': '<{$info.id}>'
            };
            $.post(SCOPE.click_url, postData, function (result) {
            }, "JSON");
        }, 100);
    });

    //添加一级评论
    function addFirstComment() {
        if (!isLogin()) {
            var postData = {
                'member_id': JSON.parse(vdouwTool.getCookie('memberUserCookie'))['id'],
                'news_id': '<{$info.id}>',
                'parent_id': 0,
                'parents_id': 0,
                'content': $('[name=comment-content]').val()
            };
            console.log(postData);
            $.post(SCOPE.save_url, postData, function (result) {
                if (result.status == 1) {
                    return (dialog.toconfirm(result.message));
                } else if (result.status == 0) {
                    return (dialog.error(result.message));
                }
            }, "JSON");
        }
    }

    //回复评论
    function addSecondComment() {
        if (!isLogin()) {
            var postData = {
                'member_id': JSON.parse(vdouwTool.getCookie('memberUserCookie'))['id'],
                'news_id': $('[data-current=true]').attr('data-newsId'),
                'parent_id': $('[data-current=true]').attr('data-parentId'),
                'parents_id': $('[data-current=true]').attr('data-parentsId'),
                'content': $('[data-current=true]').parents('li').find('textarea').val()
                //memberName:当前评论人的姓名
                //memberId:当前评论人的ID
                //newsId:当前评论的文章ID
                //parentId:当前评论的上一级ID
                //parentsId:当前评论的顶级ID
            };
            console.log(postData);
            $.post(SCOPE.save_url, postData, function (result) {
                if (result.status == 1) {
                    return (dialog.toconfirm(result.message));
                } else if (result.status == 0) {
                    return (dialog.error(result.message));
                }
            }, "JSON");
        }
    }

    //切换评论准备进行回复
    function checkCurrent(o) {
        $('.comment-box-hook').hide();
        $('[data-current]').attr('data-current', 'false');
        $(o).parents('li').find('.comment-box-hook').css({'display': 'block'});
        $(o).attr('data-current', 'true');
    }
</script>

<{include file="public/footer"}>
