<{include file="public/head"}>
<body class="vdouw-home">
<{include file="public/header"}>
<article>
    <div class="width1200 middle-left-right pb-100">
        <div class="pull-left width800">
            <div class="article-box mt-20">
                <div class="title">
                    <h2 class="text-align-center"><{$info.title}></h2>
                    <p class="mt-5 text-align-center">
                        <span class="mr-20">作者：<{$info.author}></span>
                        <span class="mr-20">更新时间：<{$info.addtime|date="Y:m:d H:i:s",###}></span>
                        <span class="mr-20">所属分类：1111</span>
                        <span class="mr-20">所属标签：1111</span>
                    </p>
                </div>
                <div class="content">
                    <div class="con">11111</div>
                    <div class="">
                        <p><span>上一篇：</span><a href="#">上一篇文章</a></p>
                        <p><span>下一篇：</span><a href="#">下一篇文章</a></p>
                    </div>
                </div>
            </div>
            <div class="article-box">
                <div class="comment-box overflow-hidden border-bottom-1px">
                    <div class="left"><img src="/home/images/listpic.jpg"/></div>
                    <div class="right">
                        <textarea>一级回复输入框</textarea>
                        <input type="button" class="btn btn-primary width150 mt-5" value="提交"/>
                    </div>
                </div>
                <div class="comment-list">
                    <dl>
                        <dt class="overflow-hidden">
                            <span class="pull-left font16 font-bold">最新评论</span>
                            <span class="pull-right">总共18条评论</span>
                        </dt>
                        <dd>
                            <ul>
                                <li>
                                    <div class="left"><img src="/home/images/listpic.jpg"/></div>
                                    <div class="right">
                                        <div>
                                            <p>
                                                <span>张三丰</span>
                                                <span>：</span>
                                                <span>一级回复</span>
                                            </p>
                                            <p>
                                                <span>2017-12-12 12:12:12</span>
                                                <span class="color-blue">回复</span>
                                            </p>
                                        </div>
                                        <div class="son">
                                            <div class="left"><img src="/home/images/listpic.jpg"/></div>
                                            <div class="right">
                                                <p>
                                                    <span>张三丰</span>
                                                    <span>：</span>
                                                    <span>二级回复</span>
                                                </p>
                                                <p>
                                                    <span>2017-12-12 12:12:12</span>
                                                    <span class="color-blue">回复</span>
                                                </p>
                                            </div>
                                        </div>

                                        <div class="comment-box overflow-hidden mt-10">
                                            <div class="right" style="margin-left:0">
                                                <textarea>二级回复输入框</textarea>
                                                <input type="button" class="btn btn-primary width150 mt-5" value="提交"/>
                                            </div>
                                        </div>
                                    </div>

                                </li>
                                <li>
                                    <div class="left"><img src="/home/images/listpic.jpg"/></div>
                                    <div class="right">
                                        <p>
                                            <span>张三丰</span>
                                            <span>：</span>
                                            <span>不行是学院的做派，而不是技术人的品格。一名技术人，本身就是知和行的统一。
“问题在于改变世界”——从青年黑格尔派初次提出这样的命题，到马克思在《关于费尔巴哈提纲》中正式确立全新的</span>
                                        </p>
                                        <p>
                                            <span>2017-12-12 12:12:12</span>
                                            <span class="color-blue">回复</span>
                                        </p>
                                    </div>
                                </li>
                            </ul>
                        </dd>
                    </dl>
                </div>
            </div>

        </div>
        <div class="pull-right">
            <{include file="public/right"}>
        </div>
        <div class="clearfix"></div>
    </div>

</article>
<footer>
    <p>footer第一行</p>
    <p>footer第二行</p>
</footer>

<script>
    $('.article-ul li').each(function () {
        if ($(this).find('.img').attr('src') == "") {
            $(this).find('.img').attr('src', '/home/images/listpic.jpg');
        }
    })
</script>

<{include file="public/footer"}>
