<{include file="public/header"}>
<article>
    <div class="width1200 middle-left-right pb-100">
        <div class="pull-left width800">
            <ul class="article-ul mt-20">
                <{volist name='allNews' id="vo"}>
                <li>
                    <h3 class="font16"><{$vo.title}></h3>
                    <p class="mt-5">
                        <span class="mr-20">作者：<{$vo.author}></span>
                        <span class="mr-20">更新时间：<{$vo.addtime|date='Y-m-d H:i:s',###}></span>
                        <span class="mr-20">所属分类：<a class="color-blue" title="<{$vo.category_name.name}>"
                                                    href="/index.php/home/index/index/id/<{$vo.category_id}>"><{$vo.category_name.name}></a></span>
                        <!--<span class="mr-20 tag" data-tag="<{:json_encode($vo.tag)}>">标签：<{volist name="$vo.tag" id="v"}><b-->
                        <!--class="mr-10 font-normal"><{$v.name}></b><{/volist}></span>-->
                    </p>
                    <div class="mt-10">
                        <div class="pull-left"><a class="img" href="/index.php/home/index/article/id/<{$vo.id}>">
                            <div><img class="tran-all" src="<{$vo.titleimg}>"/></div>
                        </a></div>
                        <div class="pull-left">
                            <div class="p color-lgray"><{$vo.description}></div>
                            <div class="pull-right a">
                                <a class="font12 tran-all" href="/index.php/home/index/article/id/<{$vo.id}>">查看详细</a>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </li>
                <{/volist}>
            </ul>
            <{$allNews->render()}>
        </div>
        <div class="pull-right">
            <{include file="public/right"}>
        </div>
        <div class="clearfix"></div>
    </div>
</article>

<script>
    $(function () {
        $('.article-ul li').each(function () {
            if ($(this).find('.img img').attr('src') == "") {
                $(this).find('.img img').attr('src', '/home/images/listpic.jpg');
            }
            var tagData = $(this).find('.tag').attr('data-tag');
            if (tagData == '[null]' || tagData == '[]') {
                $(this).find('.tag').hide();
            }
        });
    });

</script>

<{include file="public/footer"}>
